<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Your has been placed.  The Order id is: <%= @order.id %>.<br>
    </p>
    <p>
    </p>

    <p>Thanks for ordering and have a great day!</p>
  </body>
</html>